@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RailRoadController - Driver</title>
    <link rel="stylesheet" type="text/css" href="~/Content/RRC.css">
</head>
<body>
<div class="Controls">
    controls
</div>
<div class="Layout">
    Layout
</div>
<div class="Functions">
    Functions
</div>
</body>
</html>

